{{#partial "styles"}}
    <link rel='stylesheet' href='/css/index.css' >
{{/partial}}
{{#partial "content"}}
    <div class="header">
        <h1><WELCOME TO OUR HERO SQUARD WEBSITE</h1>
    </div>

{{/partial}}
{{>layout.hbs}}
